<div class="container">
  <label for="userid">Введите id пользователя VK: </label>
  <input id="userid" placeholder="id пользователя" #userid>
  <button type="submit" (click)="idHandler(userid)">Отправить</button>
  <p>Найденная информация</p>

  <div>
    <p>ID:  {{user.uid}}</p>
    <p>Имя: {{user.first_name}}</p>
    <p>Фамилия: {{user.last_name}}</p>
    <p>День рождения: {{user.bdate}}</p>
    <p>Статус: {{user.status}}</p>
    <p>Страна: {{user.country}}</p>
    <p>Город: {{user.city}}</p>
    <p>Школа: {{user.schools}}</p>
    <p>Интересы: {{user.interests}}</p>
    <p>Обо мне: {{user.about}}</p>
  </div>
</div>

