input {
  background-color: lightgray;
  border: 0;
  height: 23px;
  width: 160px;
  padding: 3px 8px;
  display: block;
  margin: 10px 0;
}
button {
  margin: 5px 0;
}
h4 {
  margin: 10px 0;
}
strong {
  text-transform: uppercase;
}
