* {
  font-family: sans-serif;
  color: rgba(0,0,0,.85);
}
label {
  font-size: 18px;
}
.container {
  background: lightskyblue;
  padding: 30px;
  border-radius: 20px;
  width: 320px;
  margin: 0 auto;
  text-align: center;
}
input {
  border: 0;
  border-radius: 5px;
  height: 23px;
  width: 160px;
  padding: 3px 8px;
  display: block;
  margin: 10px auto;
  text-align: center;
}
button {
  margin: 0;
  border-radius: 5px;
  border: 0;
  width: 176px;
  height: 28px;
}

.container div {
  text-align: left;
}
p {
  margin: 10px 0;
  font-size: 15px;
}
